
<p>
  <strong>Título:</strong>
  <%= @idea.título %>
</p>
<p>
  <strong>Foto:</strong>
  <%= image_tag(@idea.foto_url, :width => 600) if @idea.foto.present? %>
</p>
<p>
  <strong>Región:</strong>
  <%= @idea.región %>
</p>
<p>
  <strong>Ingredientes:</strong>
  <%= @idea.ingredientes %>
</p>
<p>
  <strong>Preparación:</strong>
  <%= @idea.preparación %>
</p>
<%= link_to 'Editar', edit_idea_path(@idea) %> |
<%= link_to 'Atrás', ideas_path %>
