<h1>listar por regiones</h1>
<%= link_to 'Andina', pages_andina_path %>
<br/>
<%= link_to 'Amazonia', pages_amazonia_path %>
<br/>
<%= link_to 'Caribe', pages_caribe_path %>
<br/>
<%= link_to 'Insular', pages_insular_path %>
<br/>
<%= link_to 'Orinoquía', pages_orinoquia_path %>
<br/>
<%= link_to 'Pacífico', pages_pacifico_path %>

