<!DOCTYPE html>
<html>
<head>
  <title>Recetasapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <div class="container">
  <%= yield %>
</div>
</body>
  <footer>
  <div class="container">
    Recetasapp 2015
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>
</html>
